<ion-header>
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item button *ngFor="let usuario of (results | async) " [routeLink] = "['/','userDetail']"  >
        <ion-avatar item-start>
            <img [src]="usuario.picture.medium">
          </ion-avatar>
          <h2>{{ usuario.name.first | uppercase }}</h2>
          <p>{{ usuario.email  | uppercase}}</p>
      </ion-item>
    </ion-list>
</ion-content>
